@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <div class="main-content">
        <div class="header">
            <h1>Calories management web app</h1>
        </div>
        <br>
        <div class="content">
            This app allows you to calculate your daily calorie intake as well as manage it throughout a day, <a href="/account/register">sign-up</a> to start!
        </div>
        <br>
        <hr>
        <br>
        <h4>Overview:</h4>
        <a href="/calendar">Today's tracking</a> &nbsp;-&nbsp; Track your calorie intake during today<br>
        <br>
        <a href="/calendar">Calendar</a>  &nbsp;-&nbsp;  Choose a specific date on the calendar to track<br>
        <br>
        <a href="/calendar">Daily norm calculator</a>  &nbsp;-&nbsp;  Get an estimated daily norm of calories based on your body's characteristics<br>
        <br>
        <a href="/calendar">Change norm</a>  &nbsp;-&nbsp;  Change your daily norm of calories<br>
        <br>
    </div>
</body>
</html>