files:
  "/etc/awslogs/config/eb-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [eb-activity]
      log_group_name = /aws/elasticbeanstalk/CaloriesManagementWeb-env/eb-activity
      log_stream_name = {instance_id}
      file = /var/log/eb-activity.log

      [web-stdout]
      log_group_name = /aws/elasticbeanstalk/CaloriesManagementWeb-env/web-stdout
      log_stream_name = {instance_id}
      file = /var/log/web.stdout.log

      [web-stderr]
      log_group_name = /aws/elasticbeanstalk/CaloriesManagementWeb-env/web-stderr
      log_stream_name = {instance_id}
      file = /var/log/web.stderr.log

      [httpd-logs]
      log_group_name = /aws/elasticbeanstalk/CaloriesManagementWeb-env/httpd
      log_stream_name = {instance_id}
      file = /var/log/httpd/*.log

      [nginx-logs]
      log_group_name = /aws/elasticbeanstalk/CaloriesManagementWeb-env/nginx
      log_stream_name = {instance_id}
      file = /var/log/nginx/*.log

container_commands:
  01_enable_cloudwatch_logs:
    command: |
      systemctl enable awslogsd
      systemctl start awslogsd